@tailwind base;
@tailwind utilities;
@import "./assets/styles";



body {
  --error-color: red;
}

.J-bg {
  background-color: var(--J);
}

* {
  font-family: var(--font-family), sans-serif;
}


input {
  &:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active{
      box-shadow: 0 0 0 30px white inset;
    }
  }
}
