.mat-form-field {
  font-size: var(--text16) !important;
}

.mat-form-field-infix {
  padding: 0.25rem 0 0.75rem 0 !important;
}

.mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

mat-label {
  font-size: var(--text14) !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

mat-drawer {
  width: 250px !important;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-form-field-suffix {
  padding-top: 5px;
}

.mat-dialog-container {
  padding: 10px 20px !important;
  overflow: hidden !important;
}

.mat-dialog-actions {
  padding: 0 !important;
}
