.mat-form-field {
  font-size: var(--text16) !important;

  .mat-form-field-outline {
    background-color: #fff;
    border-radius: 5px;
  }
}

.mat-form-field-infix {
  padding: 8px !important;
  padding-bottom: 4px !important;
  height: 40px !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
}

.mat-form-field-flex {
  padding: 0 !important;
}

mat-label {
  font-size: var(--text14) !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.nav-mat-drawer {
  width: 250px !important;
  z-index: 2;
  box-shadow: 0 0 4px #b2bec4;
  overflow-y: auto;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-dialog-container {
  padding: 10px 20px !important;
  overflow: hidden !important;
}

.mat-dialog-actions {
  padding: 0 !important;
}

.myPanelClass {
  margin: 30px 0 0 30px !important;
  min-width: calc(100% + 20px) !important;
}

.mat-dialog-title,
.mat-dialog-actions {
  margin: 0 !important;
  padding: 0 !important;
}


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(66, 134, 244);
}


.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgb(66, 134, 244);
  background-color: rgb(66, 134, 244);
}


.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: white;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-chip-list {
  width: 100% !important;
  max-width: calc(100% - 35px);
  display: flex;
  align-items: center;
}

.mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
  max-width: 100% !important;
}

mat-drawer-container {
  //background-color: whitesmoke !important;
}
