.mat-form-field {
  font-size: var(--text16) !important;
}

.mat-form-field-infix {
  padding: 0.25rem 0rem 0.75rem 0rem !important;
}

.mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

mat-label {
  font-size: var(--text14) !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

mat-drawer {
  width: 250px !important;
}

.mat-list-base {
  padding: 0 !important;
}
