@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

.tippy-box {
  background-color: grey;
  color: white;
  font-size: var(--text12);
  word-break: break-word;
}
